/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

//*= require bootstrap-datepicker3
//*= require bootstrapValidator.min




.table {
		margin-top: 10px;
    width: 650px;
		float:none;
}

#parent{
	margin-top: 100px;
}

.sidebar{

	margin-left: 100px;
	margin-right: 20px;
	margin-bottom: 40px;
	padding-top: 50px;
	height: 800px;
	width: 180px;
	text-decoration:none;
	background-color:grey;
	float:left;
}

.sidebar a:hover{
	text-decoration: none;
}

.active{
		display:block;
    background-color: #FFFF75;
    color: black;
}

.tab{
	text-align: right;
	padding: 5px;
	padding-right: 15px;
}


.field{
	margin-bottom: 15px;
}

.left_align{
	float:left;
	margin-right: 350px;
}

#table_head{
	background-color:#D3D3D3;
}

#pagination{
	text-align: right;
	margin-right: 358px;
}

.right_align_field{
	display: inline-block;
	margin-left: 50px;
	// margin-right: 400px;
}

.left_align_field{
	display: inline-block;
	// float: left;
}



//new line items styling below this

.parent{
	margin-top: 20px;
}


.line_item_label{
	position: relative;
	float: left;
	margin-right: 51px;
	margin-left: 3px;
	/*font-size: 10px;*/
}

#product_label{
	margin-right: 142px;
}

.line_item_textbox{
	float:left;
	margin-right: 20px;
	height: 30px !important;
	width: 40px;
	resize:none;
	padding: 3px;
}

#product_name{
	margin-right: 20px;
	width: 150px;
}

#rate{
	margin-left: 10px;
}
#multiply_sign{
 float: left;
 margin-right: 10px;
}
#quantity{
	margin-left: 8px;
	width: 55px;
}
#amount{
	margin-left: 30px;
	width: 60px;
}

#below_line_item{
	margin-right: 425px;
	border: none;
	height:1.5px;
	background-color: #D3D3D3;
}

#remove_product_btn{
	margin-top: -4px;
	margin-left: 20px;
}

#h_line{
	margin-right: 425px;
	border: none;
	height:2px;
	background-color: #D3D3D3;
}

#product_select{
	width:200px;
}

#add_product_btn{
	float:right;
	margin-right: 500px;
	margin-top: 25px;
}


.field_with_errors {
	display: inline;
}

.field_with_errors .message{
	color: #D00;
	padding-left: 5px;
	font-size: 12px;
}
